#saisie{
    display: inline-block;
    position: absolute;
    right: 1%;
    bottom: 0%;
    font-size: large;
}
#barreOb{
    animation: BarreOb 1s infinite;
    position: relative;
    top: -3px;
}

@keyframes BarreOb{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}